
.ocealia-data-lab-widget {
  //font-family: "Helvetica Neue";
  .text-sm {
    font-size: $text-sm;
  }
  .text-md {
    font-size: $text-md;
  }
  .text-lg {
    font-size: $text-lg;
  }
  .text-xxl {
    font-size: $text-xxl;
  }
}

